.coming button{
    color: #fff;
    background-color: #16a085;
    border-radius: 40px;
    padding: 3px  10px;
    border:  1px solid #fff;
    
}
.no-coming button{
    color: #fff;
    background-color: #cf692d;
    border-radius: 40px;
    padding: 3px  10px;
    border:  1px solid #fff;
}
button {
    outline: none!important;
}