
.navbar-brand {
    color: #EEF4FB;
}

.classWithPad { margin: 0px;
    padding: 70px;
    height: 240px;
    padding-top: 0px;
    padding-left: 35px;
    padding-right: 35px;}

.classWithP { height:100px;}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #bacbdb;
}

.classWithP {
    padding-top: 250px;
}

div.modal div.modal-backdrop {
    z-index: 0;
}

.modal-dialog {
    margin: 140px auto;
    margin-top: 150px;
    width: 300px;
}

table.table-blue thead {
    color: #fff;
    background-color: #2980b9;
}

input[type="checkbox"] {
  transform:scale(2, 2);
  margin-right: 20px;
}


.weeksOn {

    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0;
    border-color: #1B6292;
    color: #fff;
    font-weight: bold;
    background-color: #2980b9;
    width: 50px;
    margin-left: 0px;
    margin-right: 0px; float: left;

}

.weeksOnWorksheet {
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 0;
    border-color: #166757;
    color: #fff;
    font-weight: bold;
    background-color: #16A085;
    width: 26px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
}

.weeksOnWorksheetBlue {
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 0;
    border-color: #1B6292;
    color: #fff;
    font-weight: bold;
    background-color: #2980b9;
    width: 26px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
}

.weeksOnWorksheetOrange {
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 0;
    border-color: #B77409;
    color: #fff;
    font-weight: bold;
    background-color: #f39c12;
    width: 26px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
}

.weeksOnO {

    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0;
    border-color: #B77409;
    color: #fff;
    font-weight: bold;
    background-color: #f39c12;
    width: 50px;
    margin-left: 0px;
    margin-right: 0px; float: left;

}

.weeksOff {

    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0;
    border-color: #1B6292;
    color: black;
    background-color: #fff;
    width: 50px;
    margin-left: 0px;
    margin-right: 0px; float: left;
}

.weeksOffO {

    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0;
    border-color: #B77409;
    color: black;
    background-color: #fff;
    width: 50px;
    margin-left: 0px;
    margin-right: 0px; float: left;
}

.weeksOffWorksheet {

    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 0;
    border-color: #166757;
    color: black;
    background-color: #fff;
    width: 26px;
    margin-left: 0px;
    margin-right: 0px; float: left;
}

.weeksOffWorksheetBlue {

    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 0;
    border-color: #1B6292;
    color: black;
    background-color: #fff;
    width: 26px;
    margin-left: 0px;
    margin-right: 0px; float: left;
}

.weeksOffWorksheetOrange {

    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 0;
    border-color: #B77409;
    color: black;
    background-color: #fff;
    width: 26px;
    margin-left: 0px;
    margin-right: 0px; float: left;
}


/** Carousel */
/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}












.notificationCSS {
    color: #fff;
	display: inline-block;
	margin: 5px auto 30px auto;
	border-radius: 4px;
	padding: 0px 15px;
	height: 30px;
	line-height: 30px;
	width: 160px;
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	border: 1px solid #377a90;
	background: #6fafc4; /* Old browsers */
	background: -moz-linear-gradient(top, #6fafc4 0%, #498ea5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fafc4), color-stop(100%,#498ea5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6fafc4 0%,#498ea5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6fafc4 0%,#498ea5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6fafc4 0%,#498ea5 100%); /* IE10+ */
	background: linear-gradient(top, #6fafc4 0%,#498ea5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fafc4', endColorstr='#498ea5',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.indicatorBlue {
        background: rgba(0, 147, 255, 0.24);
    border-radius: 10px;
    width: 194px;
    padding-left: 9px;
    padding-top: 1px;
    padding-bottom: 2px;
    font-weight: bold;
}

.indicatorDefault {
        background: rgba(4, 15, 95, 0.24);
    border-radius: 10px;
    width: 194px;
    padding-left: 9px;
    padding-top: 1px;
    padding-bottom: 2px;
    font-weight: bold;
}

.selectDate {
    background: #2980B9;
    border-radius: 10px;
    width: 200px;
    padding: 7px;
    position:relative;
    left:40%;
}

.selectHeader{
 font-weight:bold;
    position: relative;
    left: 26%;
    color: white;
}

.selectCSS{
position:relative;
left: 3px;
}

    .counter{
            float: right;
    font-size: 25px;
    margin-right: 33px;
    font-weight: 600;
    color: #16A085;
    border: #16A085;
    border-width: thick;
    border-style: solid;
    border-radius: 22px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    bottom: 10px;
    }

 .counterBlue{
            float: right;
    font-size: 25px;
    margin-right: 194px;
    font-weight: 600;
    color: #2980B9;
    border: #2980B9;
    border-width: thick;
    border-style: solid;
    border-radius: 22px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    bottom: 10px;
    }


.nav-tabs>li.active>a {
    background-color: #2980B9;
    border: 1px solid #1B6292;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 5px;
    color: white;
}


.nav-tabs>li.active>a:hover

{
    background-color: #2980B9;
    border: 1px solid #1B6292;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 5px;
    color: white;
}
.nav-tabs>li.active>a:focus
{
    background-color: #2980B9;
    border: 1px solid #1B6292;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 5px;
    color: white;
}




.nav-tabs>li>a {
    background-color: rgba(41, 128 , 185, 0.55);
    border: 1px solid #1B6292;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 5px;
    color:white;

}


.nav-tabs>li>a:hover

{
    background-color: rgba(41, 128 , 185, 0.70);
    border: 1px solid #1B6292;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 5px;
    color:white;
}
.nav-tabs>li>a:focus
{
    background-color: rgba(41, 128 , 185, 0.70);
    border: 1px solid #1B6292;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 5px;
    color:white;
}

.nav-tabs {
    border-bottom: 1px solid #2980B9;
}

nav {
    margin-bottom: 0;
}

.saveButton {
        margin-left: -53px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: 0px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    bottom: -1px;
}